* {
  box-sizing: border-box;
  font-family: "Titillium Web";
  padding: 0;
  margin: 0;
  color: #fff;
}

body{
  background: #050505;
  overflow-x: hidden;
}

img, svg{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* selection color */
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: rgba(16, 153, 141, 1);
}

::selection {
  color: #fff;
  background: rgba(16, 153, 141, 1);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(16, 153, 141, 0.25)
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(16, 153, 141, 1);
  border-radius: .1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(16, 153, 141, .8);
}


button{
  outline: none;
  border: none;
}

a {
  color: #B5B5B5;
  text-decoration: none;
}


.loader{
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: scale(1.5)
}

.highlighted {
  color: #29B1A5;
  font-weight: 700;
}

.glow {
  top: 0;
  position: absolute;
  width: 100%;
  height: var(--glow-height);
  z-index: -1;
}

.mobileNav .closeButton{
  position: relative;
  float: right;
  margin-right: 2.5rem;
  margin-top: 1.6rem;
  font-size: 2rem;
  cursor: pointer;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  opacity: 0;
  animation: navStartAnimation 1s .4s forwards;
}

@keyframes navStartAnimation{
  0%{
    top: -4rem;
    opacity: 0;
  }

  100%{
    top: 0;
    opacity: 1;
  }
}

.nav .hamburger{
  font-size: 2rem;
  margin-top: .5rem;
  display: none;
}

.nav .logo {
  width: 9rem;
  cursor: pointer;
}
.nav .navContent {
  position: relative;
  height: 1.7rem;
  top: 1.2rem;
}
.nav .navContent .navLink {
  padding: 1.5rem;
  font-weight: 300;
  transition: 0.2s;
}
.nav .navContent .navLink:hover {
  color: #fff;
}
.nav .navContent .active {
  font-weight: 600;
  color: #fff;
}
.nav .navContent .active:hover {
  color: #B5B5B5;
}
.nav .connectWallet {
  position: relative;
  top: 0.5rem;
  padding: 0 2rem;
  font-size: 1rem;
  background: none;
  border: 2px solid #29B1A5;
  border-radius: 2px;
  color: #29B1A5;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.nav .connectWallet:hover {
  background: #29B1A5;
  color: white;
}

.mobileNav{
  margin-top: -4.2rem;
  position: fixed;
  width: 100%;
  height: 100vh;
  animation: navAnimation .7s forwards;
  background: rgba(10, 25, 24, 1);
  display: none;
  z-index: 1;
}

.mobileNavClosingAnimation{
  animation: closingAnimationNav .7s forwards;
}

@keyframes navAnimation {
  0%   {top: -100vh;}
  100% {top: 4rem;}
}

@keyframes closingAnimationNav {
  0%   {top: 4rem;}
  100% {top: -100vh;}
}

@supports (backdrop-filter: blur(75px)) {
  .mobileNav{
    background: rgba(10, 25, 24, 0.5);
    backdrop-filter: blur(125px);
  }
}

.activeMobileNav{
  display: none;
}

.mobileNav .navContent{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 52px;
  font-size: 1.2rem;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navContent .active{
  font-weight: 600;
  color: #fff;
  transition: .2s;
}

.navContent .active:hover{
  color: #b5b5b5;
}

.navContent .navLink{
  transition: .2s;
}

.navContent .navLink:hover{
  color: #fff;
}

.mobileConnectWallet{
  padding: .5rem 2rem;
  font-size: 1rem;
  background: none;
  border: 2px solid #29B1A5;
  border-radius: 2px;
  color: #29B1A5;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  display: block;
}

.mobileConnectWallet:hover {
  background: #29B1A5;
  color: white;
}


.hero {
  position: relative;
  display: flex;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  gap: 5rem;
}

.rightSection{
  width: 50%;
}

@media screen and (min-width: 850px) {
  .rightSection{  
    animation: rightSectionAnimation 1s 1s forwards;
    opacity: 0;
  }
}

@keyframes rightSectionAnimation{
  0%{
    left: 5rem;
    opacity: 0;
  }

  100%{
    left: 0;
    opacity: 1;
  }
}


.leftSection{
  animation: leftSectionAnimation 1s .75s forwards;
  opacity: 0;
}

.leftSection .content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.leftSection .content h1{
  font-size: 4rem;
}

.leftSection .content h3{
  font-size: 1.2rem;
  font-weight: 200;
  color: #B5B5B5;
}

.leftSection .content button{
  background: linear-gradient(94.44deg, #29B1A5 -12.02%, rgba(41, 177, 165, 0.5) 105.01%);
  border-radius: 3px;
  font-size: 1rem;
  padding: .75rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.leftSection .content button span{
  position: relative;
  top: .2rem;
  font-size: 1rem;
}

@keyframes leftSectionAnimation{
  0%{
    margin-left: -5rem;
    opacity: 0;
  }

  100%{
    margin-left: 0;
    opacity: 1;
  }
}

.rightSection{
  position: relative;
  top: 3rem;
}

.scrollDown{
  position: relative;
  left: 47%;
  top: -1rem;
  width: 1.5rem;
  cursor: pointer;
  transition: .3s;
  animation: scrollDownAnimation 1s 1s forwards;
  opacity: 0;
}

@keyframes scrollDownAnimation{
  0%{
    top: 3rem;
    opacity: 0;
  }

  100%{
    bottom: 0;
    opacity: 1;
  }
}

.scrollDown:hover{
  filter: brightness(200%);
}

@media screen and (max-width: 1300px) {
  .hero{
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .hero{
    margin-top: 8rem;
  }

  .rightSection{
    object-fit: cover;
  }
}

/* buy card sections */

.songsSectionTop{
  margin-top: 7rem;
}

.songs{
  margin-top: 3rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.song{
  background: rgba(255, 255, 255, 0.04);
  width: 15rem;
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
}

.topImage{
  position: relative;
  cursor: pointer;
}

img.albumImage{
  width: 15rem;
  height: 12rem;
  object-fit: cover;
  filter: brightness(0.5);
  margin-top: -5rem;
}

.topImage .playArrow{
  position: relative;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4rem;
  z-index: 100;
}

.artistNameSection{
  margin: 1rem 1rem 0rem .5rem;
  display: flex;
  justify-content: space-between;
}

.artistNameSection .spotifyLogo{
  width: 2rem;
  height: 2rem;
}

.artistName{
  font-size: .8rem;
  font-weight: 300;
  color: #B5B5B5;
  margin-left: .5rem;
}


.range-slider{
  width: 92%;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.range { -webkit-appearance: none; width: 95%; margin-top: 2rem; border-radius: 50px;}
.range:focus { outline: none; }

.range::before { left: 0; content: attr(data-min); }
.range::after { right: 0; content: attr(data-max); }

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: .5rem;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(90deg, #13AA9D var(--range-progress), #dee4ec var(--range-progress));
  border-radius: 1rem;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: .3rem solid #13AA9D;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  height: 20px; width: 20px;
  transform: translateY(calc(-50% + 4px));
}

.tooltip {
  position: absolute;
  top: -1rem;
}
.tooltip span {
  position: absolute;
  text-align: center;
  display: block;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  color: #fff;
  border-radius: 0.25rem;
  background: #133B37;
  font-size: .8rem;
  margin-left: -0.3rem;
  transform: translate(-50%, 0);
}
.tooltip span:before {
  position: absolute;
  content: "";
  left: 50%; bottom: -29px;
  transform: translateX(-50%);
  width: 0; height: 0;
  border: 15px solid transparent;
  border-top-color: #133B37;
}

.buyRoyalityPoints{
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(94.44deg, #13AA9D -12.02%, rgba(7, 108, 99, 0.48) 105.01%);
}

.buyRoyalityPoints span{
  position: relative;
  top: .1rem;
  font-size: .8rem;
}


/* How we work section */
.howWeWork{
  margin-top: 15rem;
}

.heading{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.subtext{
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
  color: #B5B5B5;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 80%;
  height: 25rem;
  left: 0;
  right: 0;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.overFlowContainer{
  overflow: hidden;
  height: 40rem;
}

.container {
  position: relative;
  transform: translateX(-50%);
  left: 55%;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.container .cards label img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3, #item-4:checked ~ .cards #song-4, #item-5:checked ~ .cards #song-5 {
  transform: translatex(0) scale(1.1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-4, #item-4:checked ~ .cards #song-5, #item-5:checked ~ .cards #song-1 {
  transform: translatex(110%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-4, #item-3:checked ~ .cards #song-5, #item-4:checked ~ .cards #song-1, #item-5:checked ~ .cards #song-2 {
  transform: translatex(210%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-1:checked ~ .cards #song-4, #item-2:checked ~ .cards #song-5, #item-3:checked ~ .cards #song-1, #item-4:checked ~ .cards #song-2, #item-5:checked ~ .cards #song-3 {
  transform: translatex(-210%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-1:checked ~ .cards #song-5, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2, #item-4:checked ~ .cards #song-3, #item-5:checked ~ .cards #song-4 {
  transform: translatex(-110%) scale(0.7);
  opacity: 0.6;
  z-index: 0;
}


.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.whoAreWe{
  margin-top: 10rem;
  margin-bottom: -70rem;
}

.card2 {
  position: absolute;
  width: 40rem;
  height: 15rem;
  left: 0;
  right: 0;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container2 {
  position: relative;
  transform: translateX(-50%);
  left: 55%;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.cards2 {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.container2 .cards2 label img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

#item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
  transform: translatex(0) scale(1.1);
  opacity: 1;
  z-index: 1;
}

#item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
  transform: translatex(110%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
  transform: translatex(-110%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

/* footer */
.footerMobile{
  display: none;
}

.footer{
  display: block;
  position: relative;
  top: 80rem;
  width: 100%;
  height: 15rem;
  background: rgba(16, 153, 141, 0.15);
}

.footer .logo{
  position: relative;
  top: 50%;
  width: 9rem;
  margin-left: 2rem;
  transform: translateY(-50%);
}

.footer .endSection{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  top: -45%;
  margin-left: 15rem;
  margin-right: 2.5rem;
}

.footer .endSection .footerLinks{
  display: flex;
  justify-content: space-between;
}

.footer .endSection .socialMediaHandels{
  display: flex;
  gap: 1.5rem;
}

.footer .endSection .socialMediaHandels svg path:hover{
  transition: .2s;
  cursor: pointer;
  fill: white;
}

.footer .endSection .footerLinks .links{
  display: flex;
  gap: .75rem;
}

.footer .endSection .footerLinks .links a:hover{
  transition: .2s;
  color: #fff;
}

.footer .endSection .line{
  height: 1px;
  background: #B5B5B5;
}

.footer .endSection .copyrightAndCta{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .endSection .copyrightAndCta h4{
  font-weight: 400;
  color: #B5B5B5;
}

.footer .endSection .copyrightAndCta button{
  background: rgba(16, 153, 141, 0.5);
  font-size: 1rem;
  padding: .5rem 1.5rem;
  border-radius: .1rem;
  cursor: pointer;
}

.footer .endSection .copyrightAndCta button span{
  position: relative;
  top: -.25rem;
}

.footer .endSection .copyrightAndCta button svg{
  position: relative;
  width: 1.5rem;
  top: .2rem;
  margin-right: .75rem;
}

@media screen and (max-width: 1150px) {
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3, #item-4:checked ~ .cards #song-4, #item-5:checked ~ .cards #song-5 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }

  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-4, #item-4:checked ~ .cards #song-5, #item-5:checked ~ .cards #song-1 {
    transform: translatex(100%) scale(0.7);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-4, #item-3:checked ~ .cards #song-5, #item-4:checked ~ .cards #song-1, #item-5:checked ~ .cards #song-2 {
    transform: translatex(200%) scale(0.7);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-4, #item-2:checked ~ .cards #song-5, #item-3:checked ~ .cards #song-1, #item-4:checked ~ .cards #song-2, #item-5:checked ~ .cards #song-3 {
    transform: translatex(-200%) scale(0.7);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-5, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2, #item-4:checked ~ .cards #song-3, #item-5:checked ~ .cards #song-4 {
    transform: translatex(-100%) scale(0.7);
    opacity: 0.6;
    z-index: 0;
  }

  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(0) scale(1);
  }
  
  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(100%) scale(0.7);
  }
  
  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-100%) scale(0.7);
  }
}


@media screen and (max-width: 1025px) {
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3, #item-4:checked ~ .cards #song-4, #item-5:checked ~ .cards #song-5 {
    transform: translatex(0) scale(.95);
    opacity: 1;
    z-index: 1;
  }

  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-4, #item-4:checked ~ .cards #song-5, #item-5:checked ~ .cards #song-1 {
    transform: translatex(85%) scale(0.6);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-4, #item-3:checked ~ .cards #song-5, #item-4:checked ~ .cards #song-1, #item-5:checked ~ .cards #song-2 {
    transform: translatex(200%) scale(0.7);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-4, #item-2:checked ~ .cards #song-5, #item-3:checked ~ .cards #song-1, #item-4:checked ~ .cards #song-2, #item-5:checked ~ .cards #song-3 {
    transform: translatex(-200%) scale(0.7);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-5, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2, #item-4:checked ~ .cards #song-3, #item-5:checked ~ .cards #song-4 {
    transform: translatex(-85%) scale(0.6);
    opacity: 0.6;
    z-index: 0;
  }

  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(0) scale(.95);
  }
  
  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(85%) scale(0.7);
  }
  
  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-85%) scale(0.7);
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin-top: 1rem;
  }

  .container2 {
    margin-top: 1rem;
  }
  
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3, #item-4:checked ~ .cards #song-4, #item-5:checked ~ .cards #song-5 {
    transform: translatex(5%) scale(.8);
    opacity: 1;
    z-index: 1;
  }

  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-4, #item-4:checked ~ .cards #song-5, #item-5:checked ~ .cards #song-1 {
    transform: translatex(76%) scale(0.5);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-4, #item-3:checked ~ .cards #song-5, #item-4:checked ~ .cards #song-1, #item-5:checked ~ .cards #song-2 {
    transform: translatex(200%) scale(0.7);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-4, #item-2:checked ~ .cards #song-5, #item-3:checked ~ .cards #song-1, #item-4:checked ~ .cards #song-2, #item-5:checked ~ .cards #song-3 {
    transform: translatex(-200%) scale(0.7);
    opacity: 0.6;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-5, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2, #item-4:checked ~ .cards #song-3, #item-5:checked ~ .cards #song-4 {
    transform: translatex(-65%) scale(0.5);
    opacity: 0.6;
    z-index: 0;
  }

  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(5%) scale(.8);
  }
  
  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(75%) scale(0.5);
  }
  
  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-65%) scale(0.5);
  }
}


@media screen and (max-width: 850px) {
    .footer{
      top: 65rem;
    }

    .howWeWork{
      margin-top: 10rem;
    }

    .whoAreWe{
      margin-top: -2rem;
    }

    .nav{
      margin-top: 1rem;  
    }

    .nav .navContent, .connectWallet{
      display: none;
    }

    .nav .hamburger{
      display: block;
      cursor: pointer;
    }

    
    .activeMobileNav{
      display: block;
    }

    .scrollDown{
      opacity: 0;
      pointer-events: none;
    }

    .hero{
      margin-top: 2rem;
      flex-direction: column-reverse;
      gap: 10rem;
    }

    .hero .rightSection{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 55%;
      opacity: 0;
      animation: rightSectionAnimationResponsive 1s 1s forwards;
    }

    @keyframes rightSectionAnimationResponsive{
      0%{
        top: -2rem;
        opacity: 0;
      }
    
      100%{
        top: 2rem;
        opacity: 1;
      }
    }
    

    .hero .leftSection .content h1{
      font-size: 3rem;
      text-align: center;
    }

    .hero .leftSection .content h3{
      font-size: 1rem;
      text-align: center;
    }

    .hero .leftSection .content button{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 3rem;
    }

    .songs{
      gap: 2.5rem;
    }
}

@media screen and (max-width: 835px) {
  .heading{
    width: 95%;
    margin: 0 auto;
  }

  .subtext{
    width: 95%;
    margin: 0 auto;
  }
}


@media screen and (max-width: 737px) {
  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(0%) scale(.6);
  }
  
  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(55%) scale(0.4);
  }
  
  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-55%) scale(0.4);
  }
}


@media screen and (max-width: 640px) {
  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(-7%) scale(.6);
  }
  
  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(45%) scale(0.4);
  }
  
  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-60%) scale(0.4);
  }
}


@media screen and (max-width: 575px) {
  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(-10%) scale(.5);
  }

  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(32%) scale(0.3);
  }

  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-52%) scale(0.3);
  }
}



@media screen and (max-width: 545px) {
  .container {
    margin-top: -3rem;
  }

  .container2 {
    margin-top: -3rem;
  }
}

@media screen and (max-width: 550px) {
  .whoAreWe{
    position: relative;
    top: -5rem;
  }
}


@media screen and (max-width: 515px) {
  .songs{
    gap: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .whoAreWe{
    margin-top: -10rem;
  }

  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(-20%) scale(.45);
  }

  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(17%) scale(0.25);
  }

  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-58%) scale(0.25);
  }
}

@media screen and (max-width: 650px) {
  .hero{
    gap: 8rem;  
  }

  .hero .rightSection{
    width: 75% !important;
  }
}

@media screen and (max-width: 450px) {
  .hero{
    margin-top: 0;
    gap: 10rem;  
  }

  .hero .rightSection{
    width: 100% !important;
  }

  .hero .leftSection .content h1{
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 350px) {
  .hero{
    margin-top: 0;
    gap: 12rem;  
  }

  .hero .rightSection{
    width: 100%;
    min-width: 250px;
  }

  .hero .leftSection .content h1{
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 425px) {
  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(-20%) scale(.35);
  }

  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(12%) scale(0.23);
  }

  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-52%) scale(0.23);
  }
}

@media screen and (max-width: 375px) {
  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(-25%) scale(.35);
  }

  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(6%) scale(0.23);
  }

  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-56%) scale(0.23);
  }
}


@media screen and (max-width: 355px) {
  #item2-1:checked ~ .cards2 #song2-1, #item2-2:checked ~ .cards2 #song2-2, #item2-3:checked ~ .cards2 #song2-3{
    transform: translatex(-30%) scale(.3);
  }

  #item2-1:checked ~ .cards2 #song2-2, #item2-2:checked ~ .cards2 #song2-3, #item2-3:checked ~ .cards2 #song2-1{
    transform: translatex(-2%) scale(0.23);
  }

  #item2-1:checked ~ .cards2 #song2-3, #item2-2:checked ~ .cards2 #song2-1, #item2-3:checked ~ .cards2 #song2-2{
    transform: translatex(-59%) scale(0.23);
  }
}


/* footer */
@media screen and (max-width: 700px) {
  .footer{
    display: none;
  }

  .footerMobile{
    display: block;
    position: relative;
    top: 60rem;
    width: 100%;
    background: rgba(16, 153, 141, 0.15);
  }

  .footerMobile .endSectionMobile{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footerMobile .logoMobile{
    margin-left: 1rem;
    margin-top: 1rem;
    width: 5rem;
  }
  
  .footerMobile .endSectionMobile .linksMobile{
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .footerMobile .endSectionMobile .linksMobile a{
    transition: .2s;
  }
  
  .footerMobile .endSectionMobile .linksMobile a:hover{
    color: #fff;
  }

  .footerMobile .endSectionMobile .socialMediaHandelsMobile{
    position: relative;
    display: flex;
    gap: 2rem;
  }

  .footerMobile .endSectionMobile .socialMediaHandelsMobile .socialMediaHandelsChild{
    position: relative;
    display: flex;
    gap: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .footerMobile .endSectionMobile .socialMediaHandelsMobile .socialMediaHandelsChild svg{
    cursor: pointer;
    transition: .2s all;
  }

  .footerMobile .endSectionMobile .socialMediaHandelsMobile .socialMediaHandelsChild svg path{
    transition: .2s all;
  }
  
  .footerMobile .endSectionMobile .socialMediaHandelsMobile .socialMediaHandelsChild svg path:hover{
    fill: #fff;
  }

  .lineMobile{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 90%;
    height: 2px;
    background: #b5b5b5;
  }

  .joinCommunityMobile{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 90%;
    background: rgba(16, 153, 141, 0.5);
    font-size: 1rem;
    padding: .5rem 1.5rem;
    border-radius: .1rem;
    cursor: pointer;
  }

  .joinCommunityMobile span{
    position: relative;
    top: -.25rem;
  }
  
  .joinCommunityMobile svg{
    position: relative;
    width: 1.5rem;
    top: .2rem;
    margin-right: .75rem;
  }

  .copyrightTextMobile{
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }

  .whoAreWe{
    margin-top: -5rem;
  }

  .container{
    margin-top: -2rem;
  }

  .container2{
    margin-top: -2rem;
  }
}