// variables
$text-color: #fff;
$subtext-color: #B5B5B5;
$green-color: #29B1A5;
$green-gradient: linear-gradient(94.44deg, #29B1A5 -12.02%, rgba(41, 177, 165, 0.5) 105.01%);

// widely used css all over the website
*{
    box-sizing: border-box;
    font-family: "Titillium Web";
    padding: 0;
    margin: 0;
    color: $text-color;
}

body{
    background: #050505;
}

a{
    color: $subtext-color;
    text-decoration: none;
}

.highlighted{
    color: $green-color;
    font-weight: 700;
}

// the glow in thee bg
.glow{
    top: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

// nav
.nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.5rem;

    .logo{
        width: 9rem;
    }

    .navContent{
        position: relative;
        height: 1.7rem;
        top: 1.2rem;
        .navLink{
            padding: 1.5rem;
            font-weight: 300;
            transition: .2s;

            &:hover{
                color: $text-color;
            }
        }
        .active{
            font-weight: 600;
            color: $text-color;

            &:hover{
                color: $subtext-color;
            }
        }
    }

    .connectWallet{
        position: relative;
        top: .5rem;
        padding: 0 2rem;
        font-size: 1rem;
        background: none;
        border: 2px solid $green-color;
        border-radius: 2px;
        color: $green-color;
        cursor: pointer;
        transition: .3s;
        font-weight: 500;

        &:hover{
            background: $green-color;
            color: white;
        }
    }
}

// hero section
.hero{
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    .leftSection{
        margin-left: 80px;
        position: relative;
        display: inline-block;
        width: 40%;
        top: -17rem;
        // background: rebeccapurple;
        h1{
            font-weight: 600;
            font-size: 4rem;
        }

        h3{
            color: $subtext-color;
            font-weight: 200;
        }

        button{
            cursor: pointer;
            margin-top: 3rem;
            background: $green-gradient;
            font-size: 1.1rem;
            padding: .5rem 2rem;
            border-radius: .2rem;

            span{
                position: relative;
                top: .1rem;
                font-size: .9rem;
            }
        }
    }

    .rightSection{
        // background: beige;
        display: inline-block;
        width: 45rem;
        // margin-left: 4rem;
        margin-top: 4rem;
    }
}


@media screen and (max-width: 1300px) {
    .leftSection{
        margin-left: 4rem !important;
        top: -10rem !important;
        width: 30% !important;
    }

    .rightSection{
        width: 50% !important;
        margin-left: 6rem;
        margin-top: 7rem !important;
    }
}


@media screen and (max-width: 1100px) {
    .leftSection{
        margin-left: 3rem !important;
        top: 0rem !important;
        width: 30% !important;

        h1{
            font-size: 3rem !important;
        }
    }

    .rightSection{
        margin-left: 10rem !important;
        width: 40% !important;
        margin-left: 6rem;
        margin-top: 7rem !important;
    }
}